# Node.js dependencies
/node_modules
/.pnp
.pnp.js

# Build output
/build

# Coverage reports
/coverage


# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store

# Miscellaneous
*.pem
*.crt
*.key
*.sublime-project
*.sublime-workspace

# IDE files
.vscode/
.idea/
*.swp
*.swo
