/* Ensure the container takes up the full viewport height */
.booking-confirmation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: #b3bac0; /* Light background color */
    padding: 20px; /* Padding around the container */
}

.booking-confirmation-content {
    max-width: 800px;
    width: 100%;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
}

.booking-confirmation-header {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px; /* Adjusted for better spacing */
}

.booking-confirmation-body {
    font-size: 20px;
    margin-bottom: 30px; /* Adjusted for better spacing */
}

.booking-details {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
}

.booking-confirmation-footer {
    margin-top: 20px; /* Adjusted for better spacing */
    display: flex;
    justify-content: center; /* Centered the button */
}

.booking-confirmation-footer button {
    background-color: #3a4149;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.booking-confirmation-footer button:hover {
    background-color: #3a4149;
}

.home-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.home-page-header {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

.home-page-body {
    font-size: 24px;
    margin-bottom: 40px;
}

.home-page-button {
    background-color: #7c91a8;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.home-page-button:hover {
    background-color: #0056b3;
}
