.event-create {
    background-color: #f8f9fa;
    padding: 2rem 0;
}

.event-header {
    text-align: center;
    margin-bottom: 2rem;
}

.event-title {
    font-size: 2.5rem;
    color: #343a40;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.event-subtitle {
    font-size: 1.25rem;
    color: #6c757d;
    margin: 0;
}

.event-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.event-form {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.autocomplete-container {
    position: relative;
}

.autocomplete-dropdown-container {
    position: absolute;
    z-index: 1000;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.suggestion-item {
    padding: 0.5rem;
}

.suggestion-item--active {
    background-color: #6a8279;
    color: #ffffff;
}

.date-range-picker input {
    margin-right: 1rem;
    width: 150px;
    text-align: center;
}
.form-group {
    margin-bottom: 1.5rem;
}

.image-preview {
    margin-top: 1rem;
    max-width: 20%;
    height: 20%;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
}